.product-section
{
  display:flex;
  height:400px;
  margin: 0px;
  padding: 0px;
  
}
.product-section__img{
  display:flex;
  width:50%;
}
.product-thumb__item
{
  justify-content: center;
}
.product-section__detail
{width:50%;

}
.product-thumbs
{
  width:10%;
  display: flex;
  flex-direction: column;
    text-align: center;
  
}
.featured-image
{
  width:90%;
text-align: center;
}

.product-predictive-description
{
  background-color: coral;
  font-size:20px;
  font-weight:bold;
  text-align: center;
  padding:100px;
  width:40%;
 
}
.product-predictive-img
{
  width:60%;
 
}