
.flex-temp {
  display: flex;
  justify-content: center;
}

.flex-temp > div {
  background-color: ghostwhite;
  width: 50%;
  margin: 10px;
  padding: 30px;
  font-size: 30px;
}

.product-section, .text-image, .image-text {
  display: flex;
}

.image1, .image2 {
  width: 50%;
}

.text1, .text2 {
  width: 50%;
  padding: 20px;
  margin: 10px;
  background-color: ghostwhite;
}