<div class="text-image-{{bl.id}} text-image">
    <div class="text1">
        <p> {{ bl.settings.home_welcome_message }} </p>
            {% style %}
                .text-image-{{bl.id}} {
                    background-color: {{bl.settings.bg_color1}};
                    color:{{bl.settings.font_color1}};
                }
            {% endstyle %}              
    </div>
    <div class="image1">
        <img src="{{ bl.settings.my_image | image_url }}" alt="New website design" width="100%" height="100%">
    </div>
</div> 