<div class="image-text-{{bl.id}} image-text">
    <div class="image2">
        <img src="{{ bl.settings.my_image | image_url }}" alt="New website design" width="100%" height="100%">
    </div>
    <div class="text2">
        <p>  {{ bl.settings.home_welcome_message }} </p>
        {% style %}
            .image-text-{{bl.id}} {
                background-color: {{bl.settings.bg_color2}};
                color:{{bl.settings.font_color2}};
            }
        {% endstyle %} 
    </div>
</div>   