<div class="product-section">
    <div class="product-predictive-description-{{bl.id}} product-predictive-description">
        {{bl.settings.text-area}}
      {% style %}
            .product-predictive-description-{{bl.id}}
            {
            background-color:{{bl.settings.block_bg_color}};
            opacity:{{bl.settings.opacity}};
            color:{{bl.settings.block_font_color}};
              
            }
            {% endstyle %}
    </div>

    <div class="product-predictive-img ">
      
      {% assign image =bl.settings.demo1_image %}
      {% if image %}
      <img src="{{image|image_url }}" alt="New website design" width=100% height=100%>
      
            {% else %}
      <img src="https://th.bing.com/th/id/OIP.hoSGNXMmOMCuiHzHC8SB3gHaEw?pid=Api&rs=1" alt="New website design"
        width=100% height=100%>
      {% endif %}
            
    </div>

  </div>