<div class="section--{{section.id}}">
  {% for bl in section.blocks %}
  {% if bl.type == 'text-image'%}
  {% render 'text-image-block' bl:bl %}
  {% endif %}
  {% if bl.type == 'image-text'%}
  {% render 'image-text-block' bl:bl %}
  {% endif %}

  {% endfor %}
</div>

{% schema %}
{ "name": "new-product-description",
"blocks": [
{
"type": "text-image",
"name": "text&image",
"settings":[
{
"type": "textarea",
"id": "text-area",
"default":"Technology makes things work Technology makes things work Technology makes things work",
"label": "description",
"info": "Type your description Here"
},
{
"type": "image_picker",
"id": "demo1_image",
"label": "Image"
},
{
"type": "color",
"id": "block_bg_color",
"label": "Background color"
},
{
"type": "color",
"id": "block_font_color",
"label": "Font color"
},
{
  "type": "range",
  "id": "opacity",
  "min": 0.0,
  "max": 1.0,
  "step": 0.1,
    "label": "opacity",
  "default":1.0
}
]
},
{
"type": "image-text",
"name": "image&text",
"settings":[
{
"type": "image_picker",
"id": "demo2_image",
"label": "Image"
},
{
"type": "textarea",
"id": "text-area2",
"default":"Technology makes things work Technology makes things work Technology makes things work",
"label": "description",
"info": "Type your description Here"
},
{
  "type": "text",
  "id": "text",
  "default":"Kids wear",
  "label": "title",
  "info": "Type your title Here"
  },
  {
    "id": "url",
    "type": "url",
    "label": "Banner button link"
  },
  {
    "type": "color",
    "id": "block_bg_color2",
    "label": "Background color"
    },
    {
    "type": "color",
    "id": "block_font_color2",
    "label": "Font color"
    }
]
}
]
}
{% endschema %}