{% style %}
    .section--{{section.id}} {
        background-color: {{section.settings.bg_color}};
       {% comment %}  color:{{settings.font_color}};
        font-family: {{ settings.heading_font.family }} {% endcomment %}
    }
{% endstyle %}
<div class="section--{{section.id}}">
    {% for bl in section.blocks %}
        {% if bl.type == 'test-1' %}
        <div class="product-section">
            <div class="text1">
               <p> {{ bl.settings.home_welcome_message }} </p>
            </div>
            <div class="image1">
           
               <img src="{{ bl.settings.my_image | image_url }}" alt="New website design" width="100%" height="100%">
            </div>
         {% endif %}
         {% if bl.type == 'test-2' %}
            <div class="image2">
                <img src="{{ bl.settings.my_image | image_url }}" alt="New website design" width="100%" height="100%">
            </div>
            <div class="text2">
              <p>  {{ bl.settings.home_welcome_message }} </p>
            </div>
        </div>   
        {% endif %}
       
    {% endfor %}
</div>

{% schema %}
{
    "name": "test schema",
    "settings":[
        {
            "type": "header",
            "content": "Body Styles"
        },
        {

            "type": "textarea",
            "id": "text",
            "label": "textarea",
            "default": "value",
            "info": "text",
            "placeholder": "Enter a text"

        },
        {
            "type": "color",
            "id": "bg_color",
            "label": "Background color",
            "default": "#ffffff"
        },
        {
            "type": "color",
            "id": "font_color",
            "label": "font_color",
            "default": "#ffffff"
        },
        {
            "type": "font_picker",
            "label": "Heading font",
            "id": "heading_font",
            "info": "text",
            "default": "helvetica_n4"
        },
        {
            "type": "paragraph",
            "content": "All of your collections are listed by default. To customize your list, choose 'Selected' and add collections."
        }
        
    ],

   
    "blocks":[
        {
           "type": "test-1",
            "name": "test 1",
            "settings":[
                 {
                    "type": "textarea",
                    "id": "home_welcome_message",
                    "default": "Welcome to my shop!",
                    "label": "Welcome message"
                },
                {
                    "type": "image_picker",
                    "id": "my_image",
                    "label": "Image"
                }
                
            ]
        },
         {
           "type": "test-2",
            "name": "test 2",
            "settings":[
                {
                    "type": "image_picker",
                    "id": "my_image",
                    "label": "Image"
                },
                 {
                    "type": "textarea",
                    "id": "home_welcome_message",
                    "default": "Welcome to my shop!",
                    "label": "Welcome message"
                }
                
                
            ]
        }
    ]
}
{% endschema %}