<div>
    <div class="section--{{section.id}}">
    {% for bl in section.blocks %}
        {% if bl.type == 'slide1' %}
            <img src="{{ bl.settings.my_image | image_url }}" alt="New website design" width="100%" height="100%">
        {% endif %}

        {% if bl.type == 'slide2' %}
            <video width="320" height="240" controls>
            <source src="movie.mp4" type="video/mp4">
            <source src="movie.ogg" type="video/ogg">
            Your browser does not support the video tag.
            </video>
        {% endif %}
    {% endfor %}
</div>

{% schema %}
{
    "name": "slideshow",
    "settings":[
        {
            "type": "header",
            "content": "Body Styles"
        }
    ],
    "blocks":[
        {
            "type": "slide1",
            "name": "imageslide",
            "settings":[
                {
                    "type": "image_picker",
                    "id": "my_image",
                    "label": "Image"
                }
            ]
        },
        {
            "type": "slide2",
            "name": "videoslide",
            "settings":[
                {
                    "id": "video_url",
                    "type": "video_url",
                    "label": "Video URL",
                    "accept": ["youtube", "vimeo"],
                    "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
                    "info": "text",
                    "placeholder": "text"
                }
            ]
        }
       
    ]
}
{% endschema %}