<div class="product-section">
    <div class="product-section__img">
        <div class="product-thumbs">
            {% for media in product.media %}
            <div class="product-thumb__item" data-src="{{media | img_url: '400x'}}">
            <img src="{{ media | img_url: '50x' }}" />
            </div>
            {% endfor %}
        </div>
        <div class="featured-image">
            <img src="{{ product.featured_media | img_url: '400x' }}" />
        </div>
    </div>
    <div class="product-section__detail">
        <h2>{{ product.title }}</h2>
        {{product.price}}
        <p>{{product.description}}</p>
    </div>
</div>