 

<div class = "flex-temp">
    <div class="image">
        <div class="featured-image">
            <img src =" {{ product.featured_media | img_url: '500x' }}">
        </div>

        <div class="thumbnail">
            {% for media in product.media %}
                <img src =" {{ media | img_url: '100x' }}">
            {% endfor %}
             
        </div>
        <div class="button">
            <button class="previous-button" type="submit">&laquo; previous</button>
            <button class="next-button" type="submit">next &raquo;</button>
        </div>
    </div>
    

    <div class="text">
        <h3> {{ product.title }} </h3>
        <p> {{ product.description }} <p>
    </div>
</div>




