{% style %}
    .section--{{section.id}} {
        background-color: {{section.settings.bg_color}};
    }
{% endstyle %}

<div class="section--{{section.id}}">
   {% for bl in section.blocks %}
     {% if bl.type == 'demo-1'%}
            <div>
                <h4>{{ bl.settings.my_text }}</h4>
                {{bl.settings.my_image}}
            </div>
     {% endif %}

     {% if bl.type == 'demo-2'%}
            Demo 2
     {% endif %}

   {% endfor %}
</div>

{% schema %}
{
    "name": "Demo Sections",
    "settings":[
        {
            "type": "color",
            "id": "bg_color",
            "label": "Background color"
        }
    ],
    "blocks": [
        {
            "type": "demo-1",
            "name": "Demo 1",
            "settings":[
                {
                    "type": "text",
                    "id": "my_text",
                    "label": "Text"
                },
                {
                    "type": "image_picker",
                    "id": "my_image",
                    "label": "Image"
                }
            ]
        },
        {
            "type": "demo-2",
            "name": "Demo 2",
            "settings":[
                {
                    "type": "checkbox",
                    "id": "my_demo2_1",
                    "label": "Is visible?"
                },
                {
                    "type": "textarea",
                    "id": "my_demo2_e",
                    "label": "Description"
                }
            ]
        }
    ]
}
{% endschema %}
