<div class="product-section">
    <div class="product-section__image">       
        <div class="featured-image">
            <img src="{{ product.featured_media | img_url: '500x' }}" />
        </div> 

        <div class="product-thumbs">
            {% for media in product.media %}
                <img src="{{ product.featured_media | img_url: '100x' }}" />
            {% endfor %}
        </div>

    </div>
    <div class="product-section__detail">
        <h2>{{ product.title }}</h2>
        <p>{{product.description}}</p>
    </div>
</div>